body {
  max-width: 1000;
  margin: auto;
  padding: 2% 20%;
  font-size: 16pt;
}

h1 {
  text-align: center;
}

pre {
	font-family: ui-monospace, Menlo, Monaco, monospace;
	line-height: 1.45em;
	color: #eee;
	background-color: inherit;
	margin: 2em 0 2.5em 0;
	padding: 5px 0 5px 10px;
	border-width: 1px 0 1px 0;
	border-color: #6b6b6b;
	border-style: dashed;
	}

code {
	font-family: ui-monospace, Menlo, Monaco, monospace;
	font-size: 1em; /* 1.09em for Courier */
	background-color: #5b636b;
	padding: 1px 3px;
	border-radius: 3px;
	}
